.hero_content h2 {
  color: #000000;
  font-size: 6rem;
  font-weight: 600;
  line-height: 6.8rem;
  letter-spacing: 0.18rem;
  word-spacing: 0px;
  -webkit-text-stroke-width: 0.2rem;
  stroke-width: 0.2rem;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}