/* ==========================================================================
HERO SECTION STYLE
========================================================================== */
.hero {
    position: relative;

    &_swiper {

        img {
            height: 100vh;
            width: 100%;
        }

        .swiper {
            &-slide {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    z-index: 1;
                }
            }

            &-content {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 3;
                color: #d0d0d0;

                @include media-breakpoint-down(sm) {
                    padding: 0 2rem;
                    padding-left: 0;
                }

                h1 {
                    font-size: 4.8rem;
                    font-weight: 700;
                    line-height: 5.6rem;
                    color: $white;
                    max-width: 72rem;
                    width: 100%;
                    font-family: $font-family-montserrat;

                    span {
                        color: $primary-clr;
                    }

                    @include media-breakpoint-down(lg) {
                        font-size: 4rem;
                        line-height: 4.8rem;
                    }
                }
            }

            &-btn {
                display: flex;
                align-items: center;
                column-gap: 1rem;
                margin-top: 2rem;

                a {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    border: 1px solid $white;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            &-nav {
                display: flex;
                column-gap: 2rem;
                flex-direction: column;
                row-gap: 2rem;
                position: absolute;
                top: 45%;
                transform: translateY(-50%);
                right: 113px;
                z-index: 3;

                @include media-breakpoint-down(sm) {
                    display: none;
                }

                .swiper-button-next-unique,
                .swiper-button-prev-unique {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    border: 1px solid $white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: .3s all ease;
                    background-color: rgba(0, 0, 0, 0.2);


                    @include media-breakpoint-down(lg) {
                        width: 4rem;
                        height: 4rem;

                    }

                    &:hover {
                        transition: .3s all ease;
                        background-color: $primary-clr;

                        img {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(106%) contrast(101%);
                        }
                    }

                    img {
                        width: 2.3rem;
                        height: 2.3rem !important;
                        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(6%) hue-rotate(119deg) brightness(103%) contrast(101%);
                    }
                }
            }

        }
    }
}

/* ==========================================================================
GRID SECTION STYLE
========================================================================== */
.iwc {
    margin-top: 8rem;

    @include media-breakpoint-down(lg) {
        margin-top: 6rem;
    }

    &_wrapper {
        display: flex;
        column-gap: 4rem;
        row-gap: 4rem;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            @include media-breakpoint-down(lg) {
                flex-direction: column;
            }
        }


    }

    &_content {
        width: 35%;
        background-color: #F6F6F6;
        border-radius: 4rem;
        padding: 4rem 2rem;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }

        h2 {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 4.8rem;
            color: $black;
            font-family: $font-family-montserrat;
            text-transform: uppercase;
        }

        h4 {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.8rem;
            color: $black;
            font-family: $font-family-montserrat;
            margin-top: 2rem;
            text-transform: uppercase;
        }

        p {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: $black;
            margin-top: 2rem;
        }

        a {
            color: $white;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.4rem;
            font-family: $font-family-montserrat;
            border: 1px solid $primary-clr;
            padding: 1rem 3rem;
            display: inline-block;
            margin-top: 3rem;
            background-color: $primary-clr;
            transition: .3s all ease;

            &:hover {
                color: $primary-clr;
                background-color: transparent;
                transition: .3s all ease;
            }
        }
    }

    &_image {
        flex: 1;

        img {
            height: 37rem;
            border-radius: 4rem;
        }
    }

}


/* ==========================================================================
BENFIT SECTION STYLE
========================================================================== */
.benifit {
    margin-top: 8rem;

    @include media-breakpoint-down(lg) {
        margin-top: 6rem;
    }

    .section-title {
        text-align: center;

        h2 {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 4.8rem;
            color: $black;
            font-family: $font-family-montserrat;
        }
    }

    &_flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        margin-top: 4rem;

        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 2rem;
        }

        @include media-breakpoint-down(md) {
            gap: 1.5rem;
        }
    }

    &_item {
        text-align: center;
        border: 1px solid $primary-clr;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 1rem;
        padding: 4rem;

        @include media-breakpoint-down(md) {
            padding: 2rem;
        }

        img {
            width: 5rem;
        }

        span {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2.4rem;
            color: $primary-clr;
            display: block;
            margin-top: 2rem;

            @include media-breakpoint-down(sm) {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }

        p {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: $black;
            margin-top: 1rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
}

/* ==========================================================================
TAB SECTION STYLE
========================================================================== */
.tab {
    margin-top: 8rem;

    .section-title {
        text-align: center;

        h2 {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 4.8rem;
            color: $black;
            font-family: $font-family-montserrat;
        }

        p {
            max-width: 50rem;
            width: 100%;
            margin: 0 auto;
            margin-top: 2rem;
            font-size: 1.6rem;
            font-family: 400;
            line-height: 2.4rem;
            color: $black;
        }
    }

    .button-group {
        display: flex;
        column-gap: 2rem;
        padding: 0rem 1rem;
        margin-top: 4rem;
        overflow-x: auto;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }

        button {
            padding: 1rem 2rem;
            border: none;
            background-color: $primary-clr;
            font-size: 1.5rem;
            font-weight: 400;
            color: #ffffff;
            border-radius: .8rem;
            white-space: nowrap;
        }
    }

    .grid {
        margin-top: 6rem;

        @include media-breakpoint-down(lg) {
            margin-top: 4rem;
        }

        .grid-sizer,
        .grid-item {
            width: 100%;
            margin-bottom: 0rem;
            padding: 1rem 0;
            position: relative;
            overflow: hidden;

            img {
                border-radius: 1rem;
                filter: brightness(0.5);
                transition: .3s all ease;
            }

            h4 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #ffffff;
                font-size: 2.2rem;
                width: 100%;
                transition: .3s all ease;
            }

            p {
                position: absolute;
                bottom: 0;
                padding: 0 2rem;
                font-size: 1.4rem;
                font-weight: 400;
                color: #ffffff;
                transform: translateY(7.6rem);
                transition: 0.5s all ease-in-out;
                opacity: 0;
            }

            &:hover {
                transition: .3s all ease;

                h4 {
                    opacity: 0;
                    transition: .3s all ease;
                }

                p {
                    transform: translateY(-10rem);
                    transition: 0.5s all ease-in-out;
                    opacity: 1;
                }
            }
        }

        @include media-breakpoint-up(sm) {
            .grid-sizer,
            .grid-item {
                width: 50%;
                padding: 0rem 1rem;
                margin-bottom: 2rem;
            }
        }

        @include media-breakpoint-up(md) {
            .grid-sizer,
            .grid-item {
                width: 33.3%;
            }
        }
    }
}

/* ==========================================================================
WIDGET SECTION STYLE
========================================================================== */

.widget {
    margin-top: 8rem;

    &_wrapper {
        display: flex;
        border-radius: 1rem;
        align-items: center;
        column-gap: 2rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-color: $primary-clr;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 0;
            pointer-events: none;
            border-radius: 1rem;
        }
    }

    &_image {
        width: 60%;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);

        @include media-breakpoint-down(lg) {
            width: 100%;
            clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
        }

        img {
            border-radius: 1rem 0rem 0 1rem;
            filter: brightness(0.5);
            height: 27.5rem;
        }
    }

    &_content {
        width: 40%;
        min-height: 27.5rem;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 1rem 1rem 0rem;

        @include media-breakpoint-down(lg) {
            width: 100%;
            padding: 2rem;
            text-align: center;
        }

        h2 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 4rem;
            color: $white;
            font-family: "Montserrat", sans-serif;
            max-width: 56rem;
            width: 100%;

            @include media-breakpoint-down(lg) {
                font-size: 2.8rem;
                line-height: 3.6rem;
            }
        }

        a {
            color: $white;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 2.8rem;
            font-family: "Montserrat", sans-serif;
            border: 1px solid $white;
            padding: 0.5rem 3rem;
            display: inline-block;
            margin-top: 1.5rem;
            width: fit-content;
            transition: .3s all ease;
            border-radius: 0.4rem;

            @include media-breakpoint-down(lg) {
                margin: 0 auto;
                margin-top: 2rem;
            }

            &:hover {
                background-color: $white;
                color: $primary-clr;
                transition: .3s all ease;
            }
        }
    }
}

/* ==========================================================================
EVENTS SECTION STYLE
========================================================================== */

.event {
    margin-top: 8rem;

    @include media-breakpoint-down(lg) {
        margin-top: 6rem;
    }


    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 4.8rem;
            color: $black;
            font-family: $font-family-montserrat;
        }
    }

    &_btn {
        display: flex;
        column-gap: 2rem;

        .swiper-button-next-unique,
        .swiper-button-prev-unique {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 1px solid $primary-clr;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s all ease;


            @include media-breakpoint-down(lg) {
                width: 4rem;
                height: 4rem;
            }

            &:hover {
                transition: .3s all ease;
                background-color: $primary-clr;

                img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(106%) contrast(101%);
                }
            }

            img {
                width: 2.3rem;
            }
        }
    }

    .swiper {
        padding: 4rem 0;

        @include media-breakpoint-down(lg) {
            padding-top: 2rem;
        }

        &-slide {
            box-shadow: 0 0 30px 0 rgb(0 0 0 / 9%);
            border-radius: 1rem;
            padding: 2rem 4rem;

            @include media-breakpoint-down(sm) {
                padding: 2rem;
            }

            img {
                height: 11rem;
                width: 16rem;
                object-fit: contain;
            }

            h5 {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 2.8rem;
                font-family: "Montserrat", sans-serif;
                color: $primary-clr;
                margin-top: 2rem;
            }

            p {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 2.4rem;
                color: $black;
                margin-top: 1rem;
            }

            a {
                color: $primary-clr;
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 2.4rem;
                font-family: "Montserrat", sans-serif;
                display: inline-flex;
                align-items: center;
                column-gap: 0.5rem;
                margin-top: 2rem;
                transition: .3s all ease;

                img {
                    width: 2rem;
                    height: 2rem;
                    transition: .3s all ease;
                }

                &:hover {
                    transition: .3s all ease;

                    img {
                        transform: rotate(45deg);
                        transition: .3s all ease;
                    }
                }
            }
        }
    }
}


.sticky-video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    right: 25px;
    transition: .3s all ease-out;
    opacity: 1;

    .sticky-video-flex {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        column-gap: 1rem;
        padding-bottom: 1rem;

        h4 {
            color: $primary-clr;
            font-size: 2rem;
            border: 1px solid $primary-clr;
            padding: 10px 26px;
            display: flex;
            align-items: center;
            column-gap: 1.5rem;

            img {
                width: 2.8rem;
                height: 2.8rem;
            }
        }
    }

    video {
        width: 100%;
        height: 166px;
        object-fit: cover;

        @include media-breakpoint-down(sm) {
            height: 81px;
        }
    }

    .icon-minus {
        width: 25px;
        height: 25px;
        background: rgba(0, 0, 0, .4);
        color: #000000;
        border-radius: 50%;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 2px;
            background: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
        }
    }
}

.hidden {
    transform: translateY(111%);
    transition: .3s all ease-out;
    opacity: 0;
}

.video-panel {
    &.hide-video {
        display: none;
    }
}

/* ==========================================================================
CONTACT SECTION STYLE
========================================================================== */
.contact {
    margin-top: 8rem;

    @include media-breakpoint-down(lg) {
        margin-top: 4rem;
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
        padding: 4rem 2rem;
        background-color: #E4EEFD;
        border-radius: 1rem;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 2rem;

        h4 {
            font-size: 3.2rem;
            font-weight: 600;
            color: #000000;
            font-family: $font-family-montserrat;
        }

        p {
            margin-top: 1rem;
            font-size: 1.6rem;
            font-weight: 400;
            color: $black;
        }

        a {
            color: $primary-clr;
            font-size: 1.6rem;
            font-weight: 600;
            font-family: $font-family-montserrat;
            border: 1px solid $primary-clr;
            padding: 1rem 2rem;
            transition: all .3s ease-out;

            &:hover {
                background-color: $primary-clr;
                color: $white;
                transition: all .3s ease-out;
            }
        }

    }


}